.Group-container ul {
    display: flex;
    text-align: center;
}

.Group-container ul li {
    flex-direction: column;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
}